<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Darwin BETA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D07DC2D1B7133FB007649AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D07DC491B7133FC007649AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D07DC541B7133FD007649AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
